nav {
    overflow: hidden;
    /* height: 3.125rem; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

a {
    color: var(--main);
}
