@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Space Mono Bold";
    src: url("./assets/fonts/Space_Mono/SpaceMono-Bold.ttf");
}

:root {
    --background: #09203f;
    --main: #ff7746;
    --darker-main: #a94727;
}

html {
    font-family: "Space Mono", Arial, sans-serif;
    font-size: 24px;
    background-color: var(--background);
    color: var(--main);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    height: fit-content;
    flex-grow: 1;
}

.link {
    text-decoration: underline;
    position: relative;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.link:hover {
    bottom: -0.125rem;
    right: -0.125rem;
}

.text-logo {
    font-family: "Space Mono Bold", Arial, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: -0.156rem;
    cursor: pointer;

    position: relative;
    bottom: 0;
    left: 0;
}

.text-logo:hover {
    bottom: 0.125rem;
    left: 0.125rem;
}

button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    /*text-decoration: underline;*/

    border: 0.125rem solid var(--main);
}

button:hover {
    background-color: var(--main);
    color: var(--background);
    transform: translateY(-0.0625rem) translateX(-0.0625rem);
}

button:active {
    transform: translateY(0.125rem) translateX(0.125rem);
}

button:disabled {
    cursor: not-allowed;
    color: var(--darker-main);
    border-color: var(--darker-main);
}

button:disabled:hover {
    background-color: var(--background);
    transform: none;
}

.quick-nav {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 20px;
    }

    .text-logo {
        font-size: 1.25rem;
    }
}

